
obj/URL.csproj.nuget.g.targets
obj/URL.csproj.nuget.g.props
obj/URL.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/netcoreapp2.1/URL.pdb
obj/Debug/netcoreapp2.1/URL.dll
obj/Debug/netcoreapp2.1/URL.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.1/URL.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.1/URL.assets.cache
obj/Debug/netcoreapp2.1/URL.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.1/URL.AssemblyInfo.cs
obj/Debug/netcoreapp2.1/ConsoleApp8.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.1/ConsoleApp8.assets.cache
obj/Debug/netcoreapp2.1/ConsoleApp8.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.1/ConsoleApp8.AssemblyInfo.cs
obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
obj/Debug/netcoreapp2.1/URL.csprojAssemblyReference.cache
obj/ConsoleApp8.csproj.nuget.g.targets
obj/ConsoleApp8.csproj.nuget.g.props
obj/ConsoleApp8.csproj.nuget.dgspec.json
bin/Debug/netcoreapp2.1/URL.runtimeconfig.json
bin/Debug/netcoreapp2.1/URL.runtimeconfig.dev.json
bin/Debug/netcoreapp2.1/URL.pdb
bin/Debug/netcoreapp2.1/URL.dll
bin/Debug/netcoreapp2.1/URL.deps.json
.vs/ConsoleApp8/v16/TestStore/0/000.testlog
.vs/ConsoleApp8/v16/TestStore/0/testlog.manifest
